<div class="app-title">
    <div>
    <h1><i class="fa fa-dashboard"></i>Admin Dashboard</h1>
    <p>Ojas Bussness Suite</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item pr-4"><a routerLink="/admin"><i class="fa fa-home fa-lg"></i></a></li>
    <!-- <li class="breadcrumb-item"><a href="#">Dashboard</a></li> -->
    </ul>
    </div>
   
   
      <div class="row">
          <div class="col-md-6 col-lg-6">
            <div class="widget-small primary coloured-icon"><i class="icon  fa fa-user fa-3x"></i>
              <div class="info">
                <h4><a routerLink="/hr">HR Dashboard</a></h4>
                
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="widget-small info coloured-icon"><i class="icon fa fa-sign-out fa-3x"></i>
              <div class="info">
                <h4><a routerLink="/employee_role">Employee Dashboard</a></h4>
              
              </div>
            </div>
          </div>
          
          </div>
      