<div class="app-title">
    <div>
      <h1><i class="fa fa-dashboard"></i> Career</h1>
      <p>Ojas Bussness Rules Application</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/hr"><i class="fa fa-home fa-lg"></i></a></li>
      <!-- <li class="breadcrumb-item"><a href="#">Dashboard</a></li> -->
    </ul>
   </div>
   <div class="row">
    <div class="col-md-6 col-lg-3">
      <div class="widget-small primary coloured-icon"><i class="icon fa fa-envelope fa-3x"></i>
        <div class="info">
         <a routerLink="/job"> <h4>Job Description</h4></a>
        
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="widget-small info coloured-icon"><i class="icon fa fa-image fa-3x"></i>
        <div class="info">
          <h4>Heirarchy</h4>
          
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="widget-small warning coloured-icon"><i class="icon fa fa-clone fa-3x"></i>
        <div class="info">
          <h4>Payslips</h4>
         
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="widget-small danger coloured-icon"><i class="icon fa fa-thumbs-up fa-3x"></i>
        <div class="info">
          <h4>Goals</h4>
         
        </div>
      </div>
    </div>
   </div>